<template>
    <div class="content mt-5">
        <div class="container">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Document Upload</h3>
                </div>

                <form @submit.prevent="submit($event)" v-bind:id="'form'">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Upload</label>
                                    <input type="file" class="form-control" v-on:change="change($event)" placeholder="" id="temp_excel" accept="All Files/*">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
                <div id="upload-message"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import {ref, reactive, toRefs, watch, onBeforeMount, onMounted, onUpdated, onBeforeUpdate, onUnmounted,onBeforeUnmount} from 'vue'
    import axios from 'axios'
    import Swal from 'sweetalert2'

    export default{
        name: 'Index',
        props: {},
        components: {},
        setup(){

            const form = reactive({
                form:{
                    document: null,
                    file_ext:null,
                }
            });

            return{
                ...toRefs(form)
            }
        },
        data(){
            return {

            }
        },
        methods: {
            submit: function(){
                axios({
                    url:'https://pe582qzc76.execute-api.ap-southeast-2.amazonaws.com/test/upload',
                    method:'POST',
                    data:this.form,
                    responseType:'JSON',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    onUploadProgress:function (e) {
                        Swal.fire({
                            icon: 'info',
                            title: null,
                            text: 'Processing.',
                            allowOutsideClick: false,
                            showConfirmButton: false,
                            timerProgressBar: false,
                            didOpen: function () {
                                Swal.showLoading();
                            }
                        });
                    }
                }).then(xhr => {

                    const data = JSON.parse(xhr.data);
                    console.log(data);
                    Swal.fire({
                        title: 'Upload Success!',
                        text: 'Do You Want To Download?',
                        icon: 'question',
                        timer:5000,
                        timerProgressBar:true,
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Download'
                    }).then((result) => {
                        if (result.isConfirmed) {
                          window.open(data.url);
                        }
                    });
                    let form = document.getElementById('form');
                    form.reset();
                }).catch(xhr => {
                    this.message = xhr.message;
                });
            },
            change: function (e) {
                let form =  this.form;
                form.file_ext = e.target.files[0].name.split('.')[1];
                const  reader = new FileReader();
                reader.onload = function () {
                    form.document = reader.result;
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        },
        computed: {},
        watch: {},

    }
</script>