
<template>

    <Index />

</template>

<script>
  import Index from './components/Index.vue'

  export default{
      components:{
          Index
      },
      setup(){

          return{

          }
      },
      data(){
          return{

          }
      },
      methods:{

      }
  }
</script>

<style>

</style>
